{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
        <header>
            <section class="navsection">
                <div class="nav">
                    <ul>
                        This is the navbar
                        <li><a href="">Home</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="resume">Resume</a></li>
                    </ul>
                </div>
            </section>
        </header>
        {% block content %}
        {% endblock content %}          
        
        <footer>
            <script src="{% static 'javascript/main.js' %}" async defer></script>
        </footer>
    </body>
</html>
